.nav-end {
  width: 100%;
  height: 1px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-end {
  width: 100%;
  height: 1px;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.overflow-hidden {
  overflow: hidden;
}
@media screen and (min-width: 0px) {
  /* 
    ICONS 
  */
  .cart-icon-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }
  .cart-icon-link {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
  }
  .cart-icon-container > a:hover {
    cursor: pointer;
  }
  span.cart-item-count {
    /* background-color: rgb(52,103,235); */
    /* display: flex; */
    /* flex-flow: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
  }
  .cart-item-count div {
    position: relative;
    top: -13px;
    left: 7px;
    z-index: -1;
    background-color: rgb(52,103,235);
    width: 18px;
    height: 18px;
    border-radius: 9px;
    font-size: 10px;
    font-weight: 300;
    color: rgb(250,250,0);
  }
  .cart-icon {
    z-index: 1;
  }
  /* 
    End ICONS 
  */

  .header {
    width: 100%;
    z-index: 100;
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 68px;
  }
  .nav-container {
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-store-light-0); 
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1200px;
    left: 0;
    right: 0;
  }
  .nav { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    z-index: 10;
    min-height: 68px;
    background-color: var(--bg-store-light-0);
  }
  .nav-after-scroll {
    background-color: var(--bg-store-light);
  }
  .shop-name {
    background-color: var(--bg-store-light);
    padding: 0.5rem 1rem;
  }
  .nav > .shop-name {
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav > ul {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  ul.mobile-hidden {
    display: none;
  }
  .nav a {
    color: var(--bg-gray);
    font-size: 24px;
  }

  /* 
    .menu-btn 
  */
  .menu-btn {
    margin-right: 0.6rem;
    transform: rotate(0deg);
    transition: transform 0.2s linear;
  }
  .menu-btn,
  .menu-btn:active,
  .menu-btn:hover {
    background: none;
    border: none;
    outline: none;
  }
  .menu-btn:hover {
    cursor: pointer;
  }
  .menu-btn div {
    height: 3px;
    background-color: var(--bg-gray);
  }
  .menu-btn div:nth-child(1) {
    width: 40px;
  }
  .menu-btn div:nth-child(2) {
    margin: 0.6rem 0;
    width: 34px;
    transition: width 0.2s ease-in-out;
  }
  .menu-btn div:nth-child(3) {
    width: 28px;
    transition: width 0.25s ease-in-out;
  }
  .menu-btn:hover div:nth-child(2) {
    width: 40px
  }
  .menu-btn:hover div:nth-child(3) {
    width: 40px;
  }
  /* 
    rotation on click event 
  */
  .menu-btn-clicked {
    transform: rotate(135deg);
    transition: transform 0.3s linear;
    margin-right: 0.6rem;
    display: flex;
    width: 40px;
    /* if supported */
    /* display: grid; */
  }
  .menu-btn-clicked,
  .menu-btn-clicked:active,
  .menu-btn-clicked:hover {
    background: none;
    border: none;
    padding: 0;
    outline: none;
  }
  .menu-btn-clicked:hover {
    cursor: pointer;
  }
  .menu-btn-clicked div {
    height: 3px;
    /* width: 40px; */
    background-color: var(--bg-gray);
  }
  .menu-btn-clicked div:nth-child(1) {
    transform: rotate(180deg);
    transition: transform 0.2s linear;
    width: 100%;
    /* with grid if supported */
    /* grid-column: 1; 
    grid-row: 1; */
  }
  .menu-btn-clicked div:nth-child(2) {
    display: none;
  }
  .menu-btn-clicked div:nth-child(3) {
    transform: rotate(-270deg);
    transition: transform 0.2s linear;
    width: 100%;
    margin-left: -100%;
    /* with grid if supported */
    /* grid-column: 1; 
    grid-row: 1; */
  }
  .menu-btn-clicked:hover div:nth-child(2) {
  }
  .menu-btn-clicked:hover div:nth-child(3) {
  }
  /* 
    end rotation on click event 
  */
  /*///////////////// 
    end .menu-btn 
  /////////////////*/

  /*////////////////////
    nav-dropdown-menu  
  ////////////////////*/
  #dropdown-menu {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 9;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-color: var(--bg-store-light);
    /* width: 100vw; */
    width: 100%;
    max-width: 1200px;
    height: 100vh;
    padding-top: 68px; /* the height of the navbar */
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  #dropdown-menu.show-dropdown-menu {
    opacity: 1;
    visibility: visible;
  }
  #dropdown-menu li,
  .show-dropdown-menu li {
    flex: 0 0 58px;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    margin: 0 auto;
  }
  .show-dropdown-menu li:hover {
    /* cursor: pointer; */
  }
  .show-dropdown-menu a:visited {
    width: fit-content;
    color: #000000;
    font-size: 18px;
    text-align: center;
    border-bottom: 0;
  }
  #dropdown-menu a,
  .show-dropdown-menu a {
    width: fit-content;
    color: #000000;
    font-size: 18px;
    text-align: center;
    border-bottom: 0;
  }
  #dropdown-menu.show-dropdown-menu a:hover {
    cursor: pointer;
    border-bottom: 1px solid var(--bg-gray);
  }
  #dropdown-menu .dropdown-search:hover,
  .show-dropdown-menu .dropdown-search:hover {
    border-bottom: none;
  }
  #dropdown-menu li.dropdown-search {
    margin: 0 auto;
    margin-top: 1rem;
    width: 90%;
    max-width: 300px;
  }
  .dropdown-search > form > input {
    background-color: var(--bg-store-light);
    border: none;
    outline: none;
    border-bottom: 1px solid var(--bg-gray);
  }
  .dropdown-search input[type="search"] {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--bg-gray);
  }
  .dropdown-search > form > input:focus {
  } 
  /*///////////////////// 
    end nav-dropdown-menu  
  /////////////////////*/

  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    width: 100%;
    background: linear-gradient(187deg, rgba(239,239,239,0) 60%,rgba(250,250,250, 0.9) 85%), url('../assets/header-bg-light-400x282.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 198px;
    position: relative;
    z-index: -1;
    top: 13px; /* match the min height of navbar */
  }
  /* 
    End HEADER HERO 
  */
} 
@media screen and (min-width: 300px) {
  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    background: linear-gradient(187deg, rgba(239,239,239,0) 60%,rgba(250,250,250, 0.9) 85%), url('../assets/header-bg-light-400x282.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 282px;
    top: 0;
  }
  /* 
    End HEADER HERO 
  */
}

@media screen and (min-width: 600px) {
  /*///////////////////// 
    nav-dropdown-menu  
  /////////////////////*/
  #dropdown-menu li.dropdown-search form {
    margin: 0;
    margin-top: 1rem;
    max-width: 400px;
  }
  /*///////////////////// 
    end nav-dropdown-menu  
  /////////////////////*/

  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    background: linear-gradient(187deg, rgba(239,239,239,0) 60%,rgba(250,250,250, 0.9) 85%), url('../assets/header-bg-light-600x423.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 423px;
  }
  /* 
    End HEADER HERO 
  */
}

@media screen and (min-width: 800px) {
  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    background: linear-gradient(187deg, rgba(239,239,239,0) 60%,rgba(250,250,250, 0.9) 85%), url('../assets/header-bg-light-800x564.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 564px;
  }
  /* 
    End HEADER HERO 
  */
}
@media screen and (min-width: 1000px) {
  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    background: linear-gradient(187deg, rgba(239,239,239,0) 60%,rgba(250,250,250, 0.9) 85%), url('../assets/header-bg-light-1000x705.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 705px;
  }
  /* 
    End HEADER HERO 
  */
}

@media screen and (min-width: 1200px) {
  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    background: linear-gradient(187deg, rgba(239,239,239,0) 60%,rgba(250,250,250, 0.9) 85%), url('../assets/header-bg-light-1200x847.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 847px;
  }
  /* 
    End HEADER HERO 
  */
}
