@media screen and (min-width: 0px) {
  /* 
    ICONS 
  */
  .cart-icon-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }
  .cart-icon-container > a {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    margin-right: 0.6rem;
  }
  .cart-icon-container > a:hover {
    cursor: pointer;
  }
  .cart-item-count {
    font-size: 18px;
    font-weight: 700;
  }
  .cart-icon {
  }
  /* 
    End ICONS 
  */

  .header {
   width: 100%;
   z-index: 100;
  }
  .nav-container {
    display: flex;
    flex-flow: column nowrap;
    background-color: var(--bg-gray-800); 
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
  .nav { 
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.5rem;
    z-index: 10;
    min-height: 68px;
    opacity: 1;
  }
  .nav > .shop-name {
    justify-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .nav > ul {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  ul.mobile-hidden {
    display: none;
  }
  .nav a {
    color: var(--eggshell);
    font-size: 24px;
  }

  /* 
    .menu-btn 
  */
  .menu-btn {
    background: none;
    border: none;
    padding: 0.6rem;
  }
  /* add a rotation on hover and click events */
  .menu-btn:hover {
    cursor: pointer;
  }
  .menu-btn div {
    height: 3px;
    background-color: white;
  }
  .menu-btn div:nth-child(1) {
    width: 40px;
  }
  .menu-btn div:nth-child(2) {
    margin: 0.6rem 0;
    width: 34px;
    transition: width 0.2s ease-in-out;
  }
  .menu-btn div:nth-child(3) {
    width: 28px;
    transition: width 0.25s ease-in-out;
  }
  .menu-btn:hover div:nth-child(2) {
    width: 40px
  }
  .menu-btn:hover div:nth-child(3) {
    width: 40px;
  }
  /*///////////////// 
    end .menu-btn 
  /////////////////*/

  /*////////////////////
    nav-dropdown-menu  
  ////////////////////*/
  .nav-dropdown-menu {
    background-color: var(--bg-gray-800);
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    z-index: 9;
    -webkit-transition: top 0.25s ease;
    -moz-transition: top 0.25s ease;
    -ms-transition: top 0.25s ease;
    -o-transition: top 0.25s ease;
    transition: top 0.25s ease;
  }
  .nav-dropdown-menu li {
    width: 100%;
    flex: 0 0 48px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center; 
    align-items: center;
  }
  .nav-dropdown-menu li:hover {
    background-color: var(--bg-gray-300);
    cursor: pointer;
  }
  .nav-dropdown-menu a,
  .nav-dropdown-menu a:visited {
    /* flex: 1;  */
    /* display: flex; */
    width: 100%;
    color: white;
    font-size: 18px;
    text-align: center;
  }
  /* make this overlay the content beneath it */
  .show-dropdown-menu {
    top: 68px;
    visibility: visible;
  }
  /*///////////////////// 
    end nav-dropdown-menu  
  /////////////////////*/

  /*/////////// 
    HEADER HERO 
  ///////////*/
  .header-hero {
    width: 100%;
    background-image: url('../assets/black-coffee-and-spilled-instant-granules.jpg');
    background-position:center;
    background-repeat: no-repeat;
    height: 400px;
  }
  /* 
    End HEADER HERO 
  */
} 