@media screen and (min-width: 0) {
  .slide-custom {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  .slideshow-img-custom {
    flex: 1;
    justify-self: center;
  }
}